# Downloaded mod jars
mods/*.jar

# Minecraft generated folders/files
logs/
crash-reports/
saves/
screenshots/
backups/
shaderpacks/
resourcepacks/
journeymap/
xaero/
local/

# Launcher/runtime files
.minecraft/
versions/
libraries/
assets/
runtime/
launcher_profiles.json
usercache.json
usernamecache.json

# Local settings
options.txt
optionsof.txt
servers.dat

# OS/editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

_backups/
